
*{
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
}

h1{

    margin-bottom: 15px;

}

div#container1{
    background-color: aquamarine;
    position: relative;
    
}
div#container2{
    background-color: bisque;
    position: relative;
}
div#container3{
    background-color:blanchedalmond;
    position: relative;
}

p{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
}

#menu-name1{
    background-color: brown;
    position: relative;
   
}
#menu-name2{
    background-color: brown;
    position: relative;
    
}
#menu-name3{
    background-color: brown;
    position: relative;
    
}
#menu-description1{
    width: 300px;
    height: 300px;

}
#menu-description2{
    width: 300px;
    height: 300px;

    
}
#menu-description3{
    width: 300px;
    height: 300px;

    
}







/******** LArge Device only *************/

@media (min-width: 1200px){

    .col-lg-1, .col-lg-2, .col-lg-3{
        float: left;
        border: 1px solid black; 

    }
    .col-lg-1{
        width: 33%;
    }
    .col-lg-2{
        width: 33%;
    }
    .col-lg-3{
        width: 33%;
    }

}

/*******Midium Device Only ***************/

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-1, .col-md-1, .col-md-1{
        float: left;
        border: 1px solid black; 

    }
    .col-md-1{
        width: 50%;
    }
    .col-md-2{
        width: 50%;
    }
    .col-md-3{
        width: 50%;
    }

}

