
*{
    box-sizing: border-box;
}

h1{

    margin-bottom: 15px;

}

div#container1{
    background-color: aquamarine;
}
div#container2{
    background-color: bisque;
}
div#container3{
    background-color:blanchedalmond;
}

p{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
}

#menu-name2{
    background-color: brown;
    position: relative;
    top: 0px;
    right: 20px;
}





/******** LArge Device only *************/

@media (min-width: 1200px){

}

/*******Midium Device Only ***************/

@media (min-width: 992px) and (max-width: 1199px) {

}

